#vote-frame{
	position:relative;
	margin-left:4%;
	margin-right:1%;
	top:6%;
	height:94%;
}
#ballot-item{
	text-align:center;
	display:inline-block;
	background-color:#CACACA;
	border-radius:30px;
	padding:20px;
	margin:20px;
	height:60%;
	width:15%;
	box-shadow:5px 5px 3px #333333;
	padding:33px;
}
img#ballot-item-image{
	position:relative;
	height:300px;
	width:200px;
	border: 3px solid #AAAAAA;
	margin-left: auto;
	margin-right:auto;
	vertical-align:top;
}
#ballot-item-votes{
	
	font-family:"Helvetica", helvetica, sans-serif;
	font-size:20px;
}
#ballot-item-name{
	text-align:center;
	font-family:"Helvetica", helvetica, sans-serif;
	font-size: 24px;
	text-decoration:underline;
}
#ballot-item-place{
	font-family:"Helvetica", helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	text-decoration:underline;
}
#body{
	background-image:inherit;
	overflow-x:scroll;
	overflow-y:hidden;
}